<div class="aw-container-wrap">
  <div class="container">
    <div class="row">
      <div class="aw-content-wrap clearfix">
        <div class="col-sm-12 col-md-9 aw-main-content">
          <!--文章的检索-->
          <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
            <li class=""><a href="/?category=job">精华</a></li>
            <li class=""><a href="/?category=ask">穿越</a></li>
            <li class=""><a href="/?category=share">分享</a></li>
            <h2 class="hidden-xs"><i class="fa fa-bars"></i> 发现</h2>
          </ul>
          <!--文章的检索-->
          <!--文章列表-->
          <div class="aw-mod aw-explore-list">
            <div class="mod-body">
              <div class="aw-common-list">
                <div class="aw-item">
                  <a class="aw-user-name hidden-xs" href="/user/a123456">
                    <img src="/images/default-avatar.jpg">
                  </a>
                  <div class="aw-question-content">
                    <h4>
                      <a href="/question/B11ll08pZ">fdgfdgfdgfd</a>
                      <span class="aw-user-name" style="background-color:#99cfff;color:white">
                                                &nbsp;分享&nbsp;
                                            </span>
                    </h4>
                    <div class="pull-right hidden-xs contribute">
                      <span class="pull-right text-color-999">贡献</span>
                      <a class="aw-user-name" href="/user/a123456">
                        <img src="/images/default-avatar.jpg">
                      </a>
                    </div>
                    <p>
                      <a href="/user/a123456" class="aw-user-name">
                        a123456
                      </a>
                      <span class="text-color-999">
                                                发起了问题  • 2 个回复 • 6 次浏览 • 14 天前
                                            </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mod-footer">
              <div class="page-control">
                <ul class="pagination pull-right">
                  <li class="active">
                    <a class="loadpage" href="/?page=1&amp;category=all">
                      1
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--侧边栏-->
        <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm">
          <!--个人信息-->
          <div class="aw-mod">
            <div class="mod-head">
              <h3>个人信息</h3>
            </div>
            <div class="mod-body">
              <dl>
                <dt class="pull-left aw-border-radius-5">
                  <a href="/user/a123456"><img src="/images/default-avatar.jpg"></a>
                </dt>
                <dd class="pull-left">
                  <a class="aw-user-name" href="/user/a123456">
                    a123456
                  </a>
                  <a href="/user/a123456" class="pull-right">更多</a>
                </dd>
              </dl>
            </div>
            <div class="mod-footer">
              这家伙很懒,什么都没有留下..
            </div>
          </div>

          <div class="aw-mod aw-text-align-justify">
            <div class="mod-head">
              <a href="/users" class="pull-right">更多</a>
              <h3>热门用户</h3>
            </div>
            <div class="mod-body">


              <dl>
                <dt class="pull-left aw-border-radius-5">
                  <a href="/user/a123456"><img src="/images/default-avatar.jpg"></a>
                </dt>
                <dd class="pull-left">
                  <a href="/user/a123456" class="aw-user-name">a123456</a>
                  <p class="signature"></p>
                  <p>
                    积 分 : 40 ,
                    发 表 : 1
                  </p>
                </dd>
              </dl>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>