<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!--加载boostrap前端UI框架-->
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.css">
    <!--加载首页的css样式-->
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <!--!&#45;&#45;动态的引入某个页面的静态资源&ndash;&gt;-->
    <link rel="stylesheet" href="<%= locals.resource %>" />
    <!--加载图标库-->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css">
    <!--加载jquery-->
    <script src="/plugins/jquery/dist/jquery.js"></script>
    <!--加载angularJS-->
    <script src="/plugins/angular/angular.js"></script>
    <!--angularJS核心启动文件-->
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <!--首页的JS文件-->
    <script type="text/javascript" src="/javascripts/index.js"></script>
    <!--公共的JS文件-->
    <script type="text/javascript" src="/javascripts/public.js"></script>
    <!--控制器文件-->
    <script type="text/javascript" src="/javascripts/controller.js"></script>
    <!--编辑器-->
    <link rel="stylesheet" href="/plugins/editor/dist/simplemde.min.css">
    <script type="text/javascript" src="/plugins/editor/dist/simplemde.min.js"></script>
</head>
<body>
<!--导航部分-->
<div class="j-header">
    <div class="j-top">
        <a href="http://localhost:5000" class="logo">
            <i class="icon-logo">
                <img src="http://wimg.spriteapp.cn/huodong/logo_new.png" alt="百思不得姐" title="百思不得姐官网">
            </i>
        </a>
        <div class="link">
            <!-- gaga type: 1  None -->
            <a class="cur" href="/">全部</a>
            <a href="/">图片</a>
            <a href="/">段子</a>
            <a href="/">声音</a>
            <a href="/">排行</a>
        </div>
        <div class="login" id="jLoginBar">
            <a href="/login" id="jLogin" class="register">登录</a><em>|</em>
            <a href="/register" class="enroll" id="Register">注册</a>
        </div>
        <div class="login user-login" id="jUserLoginBar" style="display: none;">
            <a href="/user/topic/" id="jUserLoginName" style="max-width: 84px; overflow: hidden; height: 22px;"></a>|&nbsp;
            <i id="userNewsIcon" class="icon-msg"></i>
            <a href="javascript:void(0);" id="jLoginExit">退出</a>
            <a href="/user/publish/" class="j-post" onclick="jie.gaSend('pc官网-点击发帖button','点击右上角发帖button','')">发帖</a>
        </div>
    </div>
</div>
<%- body %>
<!--底部-->
<footer class="j-footer">
    <!--联系-->
    <div class="j-contect">
        <div class="box" style="width:140px;">
            <h3>关于小冬子</h3>
            <div class="main">
                <ul>
                    <li>
                        <a rel="nofollow" href="http://www.spriteapp.com/about.html" target="_blank">关于小冬子的社区</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="http://www.spriteapp.com/Cooperation.html" target="_blank">媒体合作</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="http://www.budejie.com" target="_blank">小冬子</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box" style="width:170px;">
            <h3>关注小冬子</h3>

            <div class="main">
                <ul>
                    <li>
                        <a rel="nofollow" href="https://weibo.com/5027497428/profile?topnav=1&wvr=6" target="_blank">小冬子新浪微博</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="http://wpa.qq.com/msgrd?v=3&uin=985569132&site=qq&menu=yes" class="j-qq">小冬子的QQ</a>

                    </li>
                    <li>
                        <a rel="nofollow" href="http://tieba.baidu.com/f?kw=%E7%99%BE%E6%80%9D%E4%B8%8D%E5%BE%97%E5%A7%90&amp;ie=utf-8&amp;fr=wwwt" target="_blank">小冬子贴吧</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="http://user.qzone.qq.com/985569132" target="_blank">小冬子のQQ空间</a>
                    </li>
                    <li>
                        <a rel="nofollow" href="/" class="j-weixin">小冬子的微信公众号</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box last">
            <h3>友情链接</h3>
            <div class="main">
                <ul>
                    <li>
                        <a href="http://www.99danji.com/zt/" target="_blank">单机游戏大全</a>
                    </li>
                    <li>
                        <a href="http://www.9553.com/article/" target="_blank">游戏攻略大全</a>
                    </li>
                    <li>
                        <a href="http://tupian.baike.com/" target="_blank">图片百科</a>
                    </li>
                    <li>
                        <a href="http://www.ratoo.net/" target="_blank">热图网</a>
                    </li>
                    <li>
                        <a href="http://www.7791.com.cn/" target="_blank">叫兽网</a>
                    </li>
                    <li>
                </ul>
            </div>
        </div>
        <div class="erwiema">
            <i class="icon-footer-qr">
                <img src="../images/weixin.png" alt="小冬子的微信" title="扫一扫加我为好友">
                <span style="display:block;font-size: 13px; margin-top:4px;">扫一扫加我为好友</span>
            </i>
        </div>
    </div>
    <!--公司-->
    <div class="j-footer-c">
        版权纯属小冬子所有<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802021522">京公网安备11010802021522号</a>|京ICP备11038795号|京网文[2015]2077-378号
    </div>
</footer>
</body>
</html>