<div id="wrapper">
    <div class="aw-login-box">
        <div class="mod-body clearfix">
            <div class="content pull-left">
                <h1 class="logo"></h1>
                <h2>小冬子的个人社区</h2>
                <form action="post" id="ffLogin" novalidate="novalidate">
                    <div class="j-u-d-c-one j-u-d-c-spe">
                        <div class="j-u-d-c-phone j-u-c-input">
                            <span class="j-u-d-c-p-tit">账&nbsp;&nbsp;&nbsp;&nbsp;号 |  </span>
                            <input id="txtUserName" name="username" type="text" placeholder="邮箱" class="j-u-d-c-p-con">
                        </div>
                    </div>
                    <div class="j-u-d-c-one">
                        <div class="j-u-d-c-phone j-u-c-input">
                            <span class="j-u-d-c-p-tit">密&nbsp;&nbsp;&nbsp;&nbsp;码 |  </span><input id="txtUserPwd" name="userpwd" type="password" placeholder="请输入密码" class="j-u-d-c-p-con">
                        </div>
                    </div>
                    <div class="j-u-d-agreement">
                        <label class="remind-me" id="jRemindMe">
                            <span class="icon-checkbox "></span>
                            &nbsp;&nbsp;我同意
                        </label>
                        <a class="forget-password" id="jForgetPwd">注册协议</a>
                    </div>
                    <a href="/" class="j-u-d-submit j-u-d-login">注册</a>
                </form>
            </div>
            <div class="j-u-d-c-r">
                <div class="joint-login">
                    <span class="j-u-d-icon-joint-login-des">第三方账号登陆</span>
                    <ul>
                        <li>
                            <a href="http://d.api.budejie.com/user/weibo_login">
                                <span class="joint-login-xinlang"></span>
                                <span class="joint-login-tit">新浪微博</span>
                            </a>
                        </li>
                        <li>
                            <a href="http://d.api.budejie.com/user/qq_login">
                                <span class="joint-login-xinlang joint-login-qq"></span>
                                <span class="joint-login-tit">QQ</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="j-u-d-c-r-login">
                    <span class="j-u-d-icon-regist-des">已有账号?</span>
                    <span class="j-u-d-c-icon-login" id="jR_L_Register">登录</span>
                </div>
            </div>
        </div>

    </div>
</div>
